apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../default

patches:
  - path: deployment-patch.yaml
    target:
      group: apps
      kind: Deployment
      version: v1

images:
  - name: controller:latest
    newName: ko.local/shepherd
    newTag: latest
