---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - shepherd.shepherd.io
  resources:
  - agenttasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - shepherd.shepherd.io
  resources:
  - agenttasks/finalizers
  verbs:
  - update
- apiGroups:
  - shepherd.shepherd.io
  resources:
  - agenttasks/status
  verbs:
  - get
  - patch
  - update
