name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  SHEPHERD_IMAGE: ghcr.io/${{ github.repository_owner }}/shepherd
  RUNNER_IMAGE: ghcr.io/${{ github.repository_owner }}/shepherd-runner

jobs:
  shepherd:
    name: Build shepherd image
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: ko-build/setup-ko@v0.9

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        env:
          KO_DOCKER_REPO: ${{ env.SHEPHERD_IMAGE }}
        run: |
          ko build --sbom=none --bare --platform=linux/amd64 \
            --tags=${{ github.ref_name }} \
            --tags=latest \
            ./cmd/shepherd/

  runner:
    name: Build shepherd-runner image
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: build/runner/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ${{ env.RUNNER_IMAGE }}:${{ github.ref_name }}
            ${{ env.RUNNER_IMAGE }}:latest
