name: Init Container

on:
  pull_request:
    paths:
      - "cmd/shepherd-init/**"

jobs:
  test:
    name: Test & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: cmd/shepherd-init/go.mod

      - name: Run tests
        run: make test-init

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.8.0
          working-directory: cmd/shepherd-init
