apiVersion: apps/v1
kind: Deployment
metadata:
  name: shepherd-web
  labels:
    app.kubernetes.io/name: shepherd-web
    app.kubernetes.io/component: web
    app.kubernetes.io/managed-by: kustomize
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: shepherd-web
  template:
    metadata:
      labels:
        app.kubernetes.io/name: shepherd-web
        app.kubernetes.io/component: web
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: web
        image: shepherd-web:latest
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 100m
            memory: 64Mi
          requests:
            cpu: 10m
            memory: 32Mi
